*.class
*.orig
*.bak
*.classpath
*.project
*.prefs
*.log
*.log*
*.err
*.scssc
*.pyc
*.iml
target/
*.log
hs_err_pid*
*.settings
.DS_Store
/.DS_Store
.idea/
/.idea
*.gitignore
release.properties
*.releaseBackup